<h1 mat-dialog-title>Create Role</h1>
<div mat-dialog-content>
  <form [formGroup]="formInstance" (ngSubmit)="submit"> 
    
    <div>
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Role Id </mat-label>
        <input matInput type="number" name="roleId" formControlName="roleId">
        <mat-error >field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
      <mat-form-field class="fullWidth" appearance="outline">
        <mat-label>Role</mat-label>
        <input matInput type="text" name="role" formControlName="role" />
        <mat-error >field required</mat-error>
      </mat-form-field>
    </div>
    <div class="mt-5">
        <mat-form-field class="fullWidth" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput type="text" name="Description" formControlName="Description" />
          <mat-error >field required</mat-error>
        </mat-form-field>
      </div>
     
  </form>
</div>
<div class="mt-5" mat-dialog-actions>
  <button mat-raised-button color="primary" type="submit" (click)="create()" [mat-dialog-close]="true" >Create</button>
  <button mat-raised-button mat-dialog-close>cancel</button>

</div>


